
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

.font-raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}

.border-radius{
  border-radius: 32px;
}
.border-radius2{
  border-radius: 88px 88px 0px 0px;
}
.gray{
  color: #03071280;
}
.green{
  color: #1DD100;
}
.gray-text{
  color: #03071299;
  font-family: "Inter", sans-serif;
}
.seat-btn{
  color: #03071280;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 18px;
  padding: 17px 45px;
  border-radius: 12px;
  background-color: #F7F8F8;
}
.seat-btn1{
  color: #03071280;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 18px;
  padding: 17px 45px;
}

.seat-title{
  color: #030712;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  margin-bottom: 16px;
  margin-top: 16px;
}
.hide {

  background-color: #0307121A;
  color: black;
  /* border: 1px solid rgb(134, 134, 134); */
  border-radius: 10px;
  /* padding: 5px; */
  opacity: 0.5;
  pointer-events: none;
}